.about {
  @extend %section;

  .row {
  display: flex;
  align-items: center;
  margin-top: 100px;
  }
}

.row.first {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.izquierda {
  p {
  text-align: right;
  margin: 0;
  }
}

.derecha {
  p {
    text-align: left;
    margin: 0;
  }
}

.contenido {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  img {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    height: 110px;
    width: 2px;
    background: red;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    z-index: 1;
    }
}
