* {
  font-family: "montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-family: "Droid Serif", sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: grey;
}
