@charset "UTF-8";
.about {
  padding-top: 80px;
  text-align: center;
  min-height: 1200px;
  margin-bottom: 50px; }

.about .row {
  display: flex;
  align-items: center;
  margin-top: 100px; }

.row.first {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px; }

.izquierda p {
  text-align: right;
  margin: 0; }

.derecha p {
  text-align: left;
  margin: 0; }

.contenido {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative; }
  .contenido img {
    position: relative;
    z-index: 2; }
  .contenido:after  {
    content: "";
    height: 110px;
    width: 2px;
    background: red;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    z-index: 1; }

* {
  font-family: "montserrat", sans-serif; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 60px; }

h4 {
  font-family: "Droid Serif", sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: #777; }

.nav-custom a {
  text-decoration: none;
  color: white; }

.jumbotroncito {
  text-align: center;
  background: none;
  padding-top: 200px; }

.main {
  min-height: 800px;
  background: url("../images/header.jpg");
  background-size: cover; }
  .main h1 {
    color: white; }
  .main h3 {
    color: white;
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-size: 30px; }

.button-agency {
  background: #FEC503;
  border: none;
  border-radius: 2px;
  height: 60px;
  padding: 19px 30px 19px 30px;
  font-weight: bold; }

#main-button {
  margin-top: 80px; }

.services {
  text-align: center;
  height: 600px; }

.titulo {
  margin: 80px; }

.portfolio {
  padding-top: 80px;
  text-align: center;
  background: #EEEEEE;
  min-height: 1200px;
  margin-bottom: 50px; }

.first-row {
  margin-top: 50px; }

.second-row {
  margin-top: 80px; }

.recuadro {
  width: 95%;
  margin: auto; }

.image-container {
  position: relative;
  cursor: pointer; }
  .image-container img {
    width: 100%; }
  .image-container .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(254, 209, 54, 0.5);
    color: white;
    font-size: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s linear; }
  .image-container:hover
  .overlay {
    opacity: 1; }

.description {
  background: white;
  height: 100px; }
  .description p {
    font-family: serif;
    color: #777;
    font-size: 14px; }
  .description h4 {
    margin: 0px 0px 10px 0px;
    padding-top: 20px; }

.services {
  padding-top: 80px;
  min-height: 700px; }
  .services p {
    font-family: serif;
    color: #777;
    font-size: 14px; }

.perfil {
  text-align: center; }
  .perfil h3 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600; }
  .perfil h4 {
    margin-top: 20px;
    font-size: 16px;
    font-style: normal; }

.team-perfil-redes {
  display: flex;
  justify-content: space-around;
  padding: 0px 40px 0px 40px;
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
